<div class="modal-header">
    <h1 class="modal-title brew-modal-header">Edit Recipe</h1>
</div>

<div class="modal-body recipe brew-form" recipe>
    <form name="ctrl.recipeForm" novalidate>
        <div class="form-group">
            <label id="recipeNameLabel" for="recipeName">Recipe name</label>

            <input type="text" name="name" class="form-control brew-input brew-input-required" id="recipeName" ng-model="ctrl.recipe.name"
                   aria-labelledby="recipeNameLabel" required aria-required="true" title="Provide a name for your recipe."
                   placeholder="Enter recipe name (required)">
        </div>

        <div class="form-group">
            <label id="recipeVolumeLabel" for="recipeVolume">Volume</label>

            <input type="number" step="0.25" min="0" class="form-control brew-input" id="recipeVolume" ng-model="ctrl.recipe.volume"
                   aria-labelledby="recipeVolumeLabel" aria-required="false" title="Provide a numeric recipe volume."
                   placeholder="Enter numeric recipe volume (optional)">

            <div class="btn-group" dropdown keyboard-nav brew-dropdown>
                <button id="recipeUnits" type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                    {{ ctrl.recipe.units || 'Units' }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="recipeUnits">
                    <li role="menuitem" ng-repeat="units in ctrl.units">
                        <a href="#" ng-click="ctrl.recipe.units = units">{{ units }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label id="recipeYeastLabel" for="recipeYeast">Yeast</label>

            <input type="text" class="form-control brew-input" id="recipeYeast" ng-model="ctrl.recipe.yeastType"
                   aria-labelledby="recipeYeastLabel" aria-required="false" title="Provide yeast type for your recipe."
                   placeholder="Enter yeast type (optional)"
                   typeahead="yeastType for yeastType in ctrl.yeastTypes">
        </div>

        <button type="submit" class="btn btn-default" role="button"
                ng-click="ctrl.update(ctrl.recipeForm.$valid)"
                ng-disabled="ctrl.recipeForm.$invalid">Update</button>
    </form>
</div>

<div class="modal-footer"></div>

