<h1 class="page-header brew-header">Logs</h1>
<style type="text/css">
    .brewOddRow {
        background-color: #99CCFF;
    }
</style>
<div class="brew-form">
    <p class="brew-info">Logging page</p>

    <div ng-controller="LogsCtrl">
    <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th>id</th>
            <th>Message</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in logs.logsList">
            <td>{{item._id}}</td>
            <td>{{item.data}}</td>
            <td><button ng-click="logs.deleteLog(item._id)" style="padding: 12px; color: Red;">x</button></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
