<tabset class="tab-container">
    <tab active="true">
        <tab-heading>
            <span class="brew-tab-sm"><i class="fa fa-sun-o"></i></span>
            <span class="brew-tab">Discover</span>
        </tab-heading>
        <discover-tab></discover-tab>
    </tab>
    <tab>
        <tab-heading>
            <span class="brew-tab-sm"><i class="fa fa-file-text-o"></i></span>
            <span class="brew-tab">New Recipe</span>
        </tab-heading>
        <new-recipe-tab></new-recipe-tab>
    </tab>
    <tab>
        <tab-heading>
            <span class="brew-tab-sm"><i class="fa fa-files-o"></i></span>
            <span class="brew-tab">My Recipes</span>
        </tab-heading>
        <my-recipes-tab></my-recipes-tab>
    </tab>
    <tab>
        <tab-heading>
            <span class="brew-tab-sm"><i class="fa fa-heart-o"></i></span>
            <span class="brew-tab">Saved Recipes</span>
        </tab-heading>
        <saved-recipes-tab></saved-recipes-tab>
    </tab>
</tabset>
