.brew-app-header {
	margin-bottom: 60px !important;
}

.brew-brand {
	color: #fff !important;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	font-size: 22px;
}

.brew-header {
	color: #dbb84d !important;
	margin-bottom: 30px;
}

.brew-modal-header {
	color: #dbb84d !important;
}

.brew-navbar {
	margin-bottom: 0 !important;
    border-color: transparent !important;
	background-color: #ffcc80;
}

.brew-navbar-list {
	font-size: larger;
}

.brew-navbar-list a:hover,
.brew-navbar-list a:focus,
.brew-navbar-list a:active {
	color: #fff !important;
}

.brew-footer {
	margin-top: 60px;
	padding: 20px;
	width: 100%;
	border-top: 1px solid #e7e7e7;
}

.brew-nav-list {
	font-size: larger;
}

.brew-nav-list li {
	padding: 10px 0 15px 15px;
}

.brew-form {
	max-width: 600px;
}

.brew-input {
	margin-bottom: 20px;
}

.brew-input.brew-input-required {
	background-color: #ffffc5;
}

.brew-clear-button-right {
	margin-left: 15px;
}

.brew-info {
	padding: 10px 0 15px 0;
}

.brew-important {
	font-size: larger;
	font-style: italic;
}

@media (min-width: 768px) {
	.brew-brand {
		font-size: 30px;
	}

	.brew-info {
		padding: 10px 0 15px 0;
		font-size: larger;
	}
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #000;
    background-color: #f5f5f5;
}