html, body {
	overflow-x: hidden !important;
	color: #474747 !important;
}

.brew-app-header {
	margin-bottom: 50px !important;
}

.brew-brand {
	color: #fff !important;
	font: 400 27px/0.5 'Lobster', Helvetica, sans-serif;
}

.brew-header {
	color: #ffcc00 !important;
	margin-bottom: 30px;
}

.brew-modal-header {
	color: #ffcc00 !important;
}

.brew-navbar {
	margin-bottom: 0 !important;
    border-color: transparent !important;
	background-color: #474747;
}

.brew-navbar-login {
	padding-top: 10px;
}

.brew-navbar-input {
	border-radius: 0 !important;
}

.brew-navbar-input-left {
	border-radius: 4px 0 0 4px !important;
}

.brew-navbar-input-right {
	border-radius: 0 4px 4px 0 !important;
}

.brew-drop-shadow {
	box-shadow: 0 4px 4px -2px #232323;
	-moz-box-shadow: 0 4px 4px -2px #232323;
	-webkit-box-shadow: 0 4px 4px -2px #232323;
}

.brew-navbar-list {
	font-size: larger;
}

.brew-navbar-list a:hover,
.brew-navbar-list a:focus,
.brew-navbar-list a:active {
	color: #fff !important;
}

.brew-footer {
	margin-top: 60px;
	padding: 20px;
	width: 100%;
	border-top: 1px solid #e7e7e7;
}

.brew-footer-nav {
	border-radius: 2px;
	background-color: #f7f7fa;
	padding: 20px;
}

.brew-footer-nav-item {
	padding: 5px 20px;
}

.brew-nav-list {
	font-size: larger;
}

.brew-nav-list li {
	padding: 10px 0 15px 15px;
}

.brew-card {
	padding: 20px;
	margin: 15px 0;
	background-color: #f7f7fa;
	border-radius: 2px;
}

.brew-form {
	max-width: 600px;
}

.brew-input {
	margin-bottom: 20px;
}

.brew-input.brew-input-required {
	background-color: #ffffc5;
}

.brew-clear-button-right {
	margin-left: 15px;
}

.brew-info {
	padding: 10px 0 15px 0;
}

.row.brew-break {
	margin-bottom: 10px;
}

.brew-important {
	font-size: larger;
	font-style: italic;
}

.brew-delete {
	color: #800000;
}

@media (min-width: 768px) {
	.brew-navbar-nav, .brew-navbar-right {
		min-height: 50px;
		margin-top: 5px;
	}

	.brew-brand {
		font-size: 40px;
		height: 60px;
		margin: 0;
	}

	.brew-header {
		font-size: 36px;
	}

	.brew-info {
		padding: 10px 0 15px 0;
		font-size: larger;
	}
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #000;
    background-color: #f5f5f5;
}

/*Make collapse button in responsive DataTable row the same color as expand.  Red looks like delete.*/
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
	content: '-';
	background-color: #337ab7 !important;
}