html, body {
	overflow-x: hidden !important;
	color: #474747 !important;
}

.brew-app-header {
	margin-bottom: 20px !important;
}

.brew-brand {
	color: #fff !important;
	font: 400 27px/0.5 'Lobster', Helvetica, sans-serif;
}

.brew-header {
	color: #ffcc00 !important;
	margin-bottom: 20px;
	margin-top: 20px !important;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: 400;
	font-size: 22px;
}

.brew-modal {
	padding: 30px;
}

.brew-modal-header {
	color: #ffcc00 !important;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: 400;
	font-size: 22px;
}

.brew-navbar {
	margin-bottom: 0 !important;
    border-color: transparent !important;
	background-color: #474747;
}

.brew-navbar-link {
	color: #b38f00 !important;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 16px;
}

.brew-navbar-button {
	font-family: "Lucida Console", Monaco, monospace;
	text-transform: uppercase;
}

.brew-navbar-login {
	padding-top: 10px;
}

.brew-navbar-input {
	border-radius: 0 !important;
}

.brew-navbar-input-left {
	border-radius: 4px 0 0 4px !important;
}

.brew-navbar-input-right {
	border-radius: 0 4px 4px 0 !important;
}

.brew-drop-shadow {
	box-shadow: 0 4px 4px -2px #232323;
	-moz-box-shadow: 0 4px 4px -2px #232323;
	-webkit-box-shadow: 0 4px 4px -2px #232323;
}

.brew-navbar-list {
	font-size: larger;
}

.brew-navbar-list a:hover,
.brew-navbar-list a:focus,
.brew-navbar-list a:active {
	color: #fff !important;
}

.brew-footer {
	/*hack*/
	margin-top: 80px;
	padding: 20px;
	width: 100%;
	border-top: 1px solid #e7e7e7;
}

.brew-footer-nav {
	border-radius: 2px;
	background-color: #f7f7fa;
	padding: 20px;
}

.brew-footer-nav-item {
	padding: 5px 20px;
}

.brew-nav-list {
	font-size: larger;
}

.brew-nav-list li {
	padding: 10px 0 15px 15px;
}

.brew-tab-sm {
	display: block;
}

.brew-tab {
	display: none;
}

.brew-card {
	padding: 20px;
	margin: 15px 0;
	background-color: #f7f7fa;
	border-radius: 2px;
}

.brew-form {
	max-width: 600px;
}

.brew-input {
	margin-bottom: 20px;
}

.brew-input.brew-input-required {
	background-color: #ffffc5;
}

.brew-ingredient, .brew-volume {
	width: 100% !important;
}

.brew-clear-button-right {
	margin-left: 15px;
}

.brew-add-button {
	width: 32px !important;
	margin-top: 20px;
	margin-bottom: 10px;
}

.brew-info {
	padding: 10px 0 15px 0;
	font-family: "Open Sans", Arial,Helvetica, Sans-Serif;
	color: #000;
}

.brew-system-info {
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 12px;
}

.row.brew-break-sm {
	margin-bottom: 10px;
}

.row.brew-break-md {
	margin-bottom: 20px;
}

.row.brew-break-lg {
	margin-bottom: 30px;
}

.brew-important {
	font-size: larger;
	color: #ffcc00 !important;
}

.brew-delete {
	color: #800000;
}

.brew-bullet {
	color: #b38f00 !important;
}

/*Not liking mixing min and max width media queries*/
@media (max-width : 480px) {
	.brew-view {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
}

@media (min-width: 768px) {
	.brew-view {
		min-width: 500px;
	}

	.brew-app-header {
		margin-bottom: 50px !important;
	}

	.brew-navbar-nav, .brew-navbar-right {
		min-height: 50px;
		margin-top: 5px;
	}

	.brew-brand {
		font-size: 40px;
		height: 60px;
		margin: 0;
	}

	.brew-header {
		font-size: 36px;
		margin-bottom: 30px;
		margin-top: 40px !important;
	}

	.brew-modal-header {
		font-size: 36px;
	}

	.brew-footer {
		margin-top: 60px;
	}

	.brew-info {
		padding: 10px 0 15px 0;
		font-size: larger;
	}

	.brew-system-info {
		font-family: 'Lucida Console', Monaco, monospace;
		font-size: 14px;
	}

	.brew-tab-sm {
		display: none;
	}

	.brew-tab {
		display: block;
	}

	/*hack*/
	.brew-inline-input-group {
		margin-top: -20px;
	}

	.brew-ingredient {
		width: 45% !important;
	}

	.brew-volume {
		width: 42% !important;
	}

	.brew-add-button {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #000;
    background-color: #f5f5f5;
}

/*Make collapse button in responsive DataTable row the same color as expand.  Red looks like delete.*/
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
	content: '-';
	background-color: #337ab7 !important;
}