.brew-app-header {
	margin-bottom: 50px !important;
}

.brew-brand {
	color: #fff !important;
	/*text-shadow: 0 1px 0 rgba(0,0,0,.1);*/
	font: 400 27px/0.5 'Lobster', Helvetica, sans-serif;
}

.brew-header {
	color: #ffcc00 !important;
	margin-bottom: 30px;
}

.brew-modal-header {
	color: #414141 !important;
}

.brew-navbar {
	margin-bottom: 0 !important;
    border-color: transparent !important;
	background-color: #474747;
}

.brew-drop-shadow {
	box-shadow: 0 4px 4px -2px #232323;
	-moz-box-shadow: 0 4px 4px -2px #232323;
	-webkit-box-shadow: 0 4px 4px -2px #232323;
}

.brew-navbar-list {
	font-size: larger;
}

.brew-navbar-list a:hover,
.brew-navbar-list a:focus,
.brew-navbar-list a:active {
	color: #fff !important;
}

.brew-footer {
	margin-top: 60px;
	padding: 20px;
	width: 100%;
	border-top: 1px solid #e7e7e7;
}

.brew-nav-list {
	font-size: larger;
}

.brew-nav-list li {
	padding: 10px 0 15px 15px;
}

.brew-form {
	max-width: 600px;
}

.brew-input {
	margin-bottom: 20px;
}

.brew-input.brew-input-required {
	background-color: #ffffc5;
}

.brew-clear-button-right {
	margin-left: 15px;
}

.brew-info {
	padding: 10px 0 15px 0;
}

.brew-important {
	font-size: larger;
	font-style: italic;
}

@media (min-width: 768px) {
	.brew-navbar-nav, .brew-navbar-right {
		min-height: 50px;
		margin-top: 5px;
	}

	.brew-brand {
		font-size: 40px;
		height: 60px;
		margin: 0;
	}

	.brew-info {
		padding: 10px 0 15px 0;
		font-size: larger;
	}
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #000;
    background-color: #f5f5f5;
}